<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bw.org.statsbots.bias">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".H06"></activity>
        <activity android:name=".H07"></activity>
        <activity android:name=".H08"></activity>
        <activity android:name=".H09"></activity>
        <activity android:name=".H10"></activity>
        <activity android:name=".H11"></activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" />
        <activity android:name=".activity_general_information" />
        <activity
            android:name=".P02"
            android:configChanges="orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".P03"
            android:configChanges="orientation"
            android:launchMode="singleTask" />
        <activity android:name=".Dashboard" />
        <activity
            android:name=".P04"
            android:configChanges="orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".P05"
            android:configChanges="orientation"
            android:launchMode="singleTask" />
        <activity android:name=".InterviewersVisits" />
        <activity android:name=".Visit1" />
        <activity android:name=".Visit2" />
        <activity android:name=".Visit3" />
        <activity android:name=".P06" />
        <activity android:name=".P07" />
        <activity android:name=".individual_assgn" />
        <activity
            android:name=".login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NextVisitAppointment"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".started_household" />
        <activity android:name=".P17" />
        <activity android:name=".P18" />
        <activity android:name=".P19" />
        <activity android:name=".P20" />
        <activity android:name=".P21" />
        <activity android:name=".q101" />
        <activity android:name=".q102" />
        <activity android:name=".q103" />
        <activity android:name=".q104"></activity>
        <activity android:name=".q106"></activity>
        <activity android:name=".q107"></activity>
        <activity android:name=".Q201"></activity>
        <activity android:name=".q202"></activity>
        <activity android:name=".q203"></activity>
        <activity android:name=".q204"></activity>
        <activity android:name=".q205"></activity>
        <activity android:name=".q301"></activity>
        <activity android:name=".q302"></activity>
        <activity android:name=".q303"></activity>
        <activity android:name=".q304"></activity>
        <activity android:name=".q305"></activity>
        <activity android:name=".q306"></activity>
        <activity android:name=".q307"></activity>
        <activity android:name=".q401" />
        <activity android:name=".q402" />
        <activity android:name=".q403" />
        <activity android:name=".q404"></activity>
        <activity android:name=".q405"></activity>
        <activity android:name=".q406"></activity>
        <activity android:name=".q407"></activity>
        <activity android:name=".q408"></activity>
        <activity android:name=".q410"></activity>
        <activity android:name=".q501"></activity>
        <activity android:name=".q502" />
        <activity android:name=".q606"></activity>
        <activity android:name=".q607"></activity>
        <activity android:name=".q608"></activity>
        <activity android:name=".q609"></activity>
        <activity android:name=".q610"></activity>
        <activity android:name=".q611"></activity>
        <activity android:name=".q612"></activity>
        <activity android:name=".q613"></activity>
        <activity android:name=".q614"></activity>
        <activity android:name=".q615"></activity>
        <activity android:name=".q616"></activity>
        <activity android:name=".q617"></activity>
        <activity android:name=".q618"></activity>
        <activity android:name=".q619"></activity>
        <activity android:name=".q620"></activity>
        <activity android:name=".q621"></activity>
        <activity android:name=".q622"></activity>
        <activity android:name=".q623"></activity>
        <activity android:name=".q624"></activity>
        <activity android:name=".q625"></activity>
        <activity android:name=".q701"></activity>
        <activity android:name=".q702"></activity>
        <activity android:name=".q703"></activity>
        <activity android:name=".q704"></activity>
        <activity android:name=".q705"></activity>
        <activity android:name=".q801"></activity>
        <activity android:name=".q802"></activity>
        <activity android:name=".q803"></activity>
        <activity android:name=".q804"></activity>
        <activity android:name=".q503" />
        <activity android:name=".q504" />
        <activity android:name=".q601"></activity>
        <activity android:name=".q602"></activity>
        <activity android:name=".q603"></activity>
        <activity android:name=".q604"></activity>
        <activity android:name=".q605"></activity>
        <activity android:name=".q901"></activity>
        <activity android:name=".q902"></activity>
        <activity android:name=".q903"></activity>
        <activity android:name=".q904"></activity>
        <activity android:name=".q905"></activity>
        <activity android:name=".q1001"></activity>
        <activity android:name=".q1002"></activity>
        <activity android:name=".q1003"></activity>
        <activity android:name=".q1004"></activity>
        <activity android:name=".q1005"></activity>
        <activity android:name=".q1006"></activity>
        <activity android:name=".q1007"></activity>
        <activity android:name=".q1008"></activity>
        <activity android:name=".q1009"></activity>
        <activity android:name=".q1010"></activity>
        <activity android:name=".q1011"></activity>
        <activity android:name=".q1012"></activity>
        <activity android:name=".q1013"></activity>
        <activity android:name=".q1014"></activity>
        <activity android:name=".q1015"></activity>
        <activity android:name=".q1016"></activity>
        <activity android:name=".q1017"></activity>
        <activity android:name=".q1101" />
        <activity android:name=".q1102" />
        <activity android:name=".q1103" />
        <activity android:name=".q1104" />
        <activity
            android:name=".q1105"
            android:label="@string/title_activity_q1105" />
        <activity android:name=".q1106"></activity>
        <activity android:name=".q1107" />
        <activity android:name=".q1108" />
        <activity android:name=".q1109" />
        <activity
            android:name=".q1110"
            android:label="@string/title_activity_q1110" />
        <activity
            android:name=".q1111"
            android:label="@string/title_activity_q1111" />
        <activity
            android:name=".q1112"
            android:label="@string/title_activity_q1112" />
        <activity
            android:name=".q1113"
            android:label="@string/title_activity_q1113" />
        <activity
            android:name=".q1114"
            android:label="@string/title_activity_q1114" />
        <activity
            android:name=".QRScanner"
            android:label="@string/title_activity_qrscanner" />
        <activity
            android:name=".HIV6wks_14_P_Consent"
            android:label="@string/title_activity_parental_consent" />
        <activity
            android:name=".HivAscent"
            android:label="@string/title_activity_hiv_ascent" />
        <activity
            android:name=".HIVConsentOver64"
            android:label="@string/title_activity_hivconsent_over64" />
        <activity
            android:name=".RapidHIVTest"
            android:label="@string/title_activity_rapid_hivtest" />
        <activity
            android:name=".HIVChildParentalConsent15_17"
            android:label="@string/title_activity_hivchild_parental_consent15_17" />
        <activity
            android:name=".HIVChildAssent15_17"
            android:label="@string/title_activity_hivchild_assent15_17" />
        <activity
            android:name=".HIVAdultsConsent18Plus"
            android:label="@string/title_activity_hivadults_consent18_plus" />
        <activity
            android:name=".Adults15_64_RapidTest"
            android:label="@string/title_activity_adults15_16__rapid_test" />
        <activity
            android:name=".HIV_Under_15_tests"
            android:label="@string/title_activity_hiv__under_15_tests" />
        <activity
            android:name=".HIV_over64_tests"
            android:label="@string/title_activity_hiv_over64_tests" />
        <activity
            android:name=".HIV_O15to64_Test"
            android:label="@string/title_activity_hiv__o15to64__test" />
        <activity
            android:name=".Barcode"
            android:label="@string/title_activity_barcode" />
        <activity android:name=".deletethisone" />
        <activity android:name=".ScanBarcode" />
        <activity
            android:name=".HIV_15_17_P_Consent"
            android:label="@string/title_activity_hiv_15_16__p__consent" />
        <activity
            android:name=".p08"
            android:label="@string/title_activity_p08" />
        <activity
            android:name=".P09"
            android:label="@string/title_activity_p09" />
        <activity
            android:name=".P10"
            android:label="@string/title_activity_p10" />
        <activity
            android:name=".P11"
            android:label="@string/title_activity_p11" />
        <activity
            android:name=".P12"
            android:label="@string/title_activity_p12" />
        <activity
            android:name=".P13"
            android:label="@string/title_activity_p13" />
        <activity
            android:name=".P14"
            android:label="@string/title_activity_p14" />
        <activity
            android:name=".P15"
            android:label="@string/title_activity_p15" />
        <activity
            android:name=".P16"
            android:label="@string/title_activity_p16" />
        <activity
            android:name=".H01"
            android:label="@string/title_activity_h01" />
        <activity
            android:name=".H02"
            android:label="@string/title_activity_h02" />
        <activity
            android:name=".H03"
            android:label="@string/title_activity_h03" />
        <activity
            android:name=".H04"
            android:label="@string/title_activity_h04" />
        <activity
            android:name=".H05"
            android:label="@string/title_activity_h05" />
        <activity
            android:name=".H12"
            android:label="@string/title_activity_h12" />
        <activity
            android:name=".H13"
            android:label="@string/title_activity_h13" />
    </application>

</manifest>